extends layout

block content
 h1 Category: #{category.name}

 div(style='margin-left:20px;margin-top:20px')

 h3 Products 
 if category_products.length
    dl 
      each product in category_products
        dt 
          a(href=product.url) #{product.title}
        dd #{product.description}
 else
    p This category has no products!